aiodns==3.0.0
aiohttp==3.7.4.post0
aiohttp-socks==0.6.0
alembic==1.6.1
aniso8601==9.0.1
async-timeout==3.0.1
attrs==21.2.0
beautifulsoup4==4.9.3
cchardet==2.1.7
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==8.0.0
colorama==0.4.4
dataclasses==0.8
elasticsearch==7.12.1
fake-useragent==0.1.11
Flask==2.0.0
Flask-Migrate==3.0.0
Flask-RESTful==0.3.8
Flask-Script==2.0.6
Flask-SQLAlchemy==2.5.1
geographiclib==1.50
geopy==2.1.0
googletransx==2.4.2
greenlet==1.1.0
idna==3.1
idna-ssl==1.1.0
importlib-metadata==4.0.1
itsdangerous==2.0.1
Jinja2==3.0.1
Mako==1.1.4
MarkupSafe==2.0.0
multidict==5.1.0
numpy==1.19.5
pandas==1.1.5
psycopg2==2.8.6
pycares==4.0.0
pycparser==2.20
PySocks==1.7.1
python-dateutil==2.8.1
python-editor==1.0.4
python-socks==1.2.4
pytz==2021.1
requests==2.25.1
schedule==1.1.0
six==1.16.0
soupsieve==2.2.1
SQLAlchemy==1.4.15
twint==2.1.20
typing-extensions==3.10.0.0
urllib3==1.26.4
Werkzeug==2.0.1
yarl==1.6.3
zipp==3.4.1
alembic==1.6.2
aniso8601==9.0.1
click==8.0.0
colorama==0.4.4
Faker==8.2.0
Flask==2.0.0
Flask-JWT-Extended==4.2.1
Flask-Migrate==3.0.0
Flask-RESTful==0.3.9
Flask-Script==2.0.6
Flask-SQLAlchemy==2.5.1
geographiclib==1.50
geopy==2.1.0
greenlet==1.1.0
itsdangerous==2.0.1
Jinja2==3.0.1
Mako==1.1.4
MarkupSafe==2.0.1
numpy==1.20.3
pandas==1.2.4
psycopg2==2.8.6
PyJWT==2.1.0
python-dateutil==2.8.1
python-dotenv==0.17.1
python-editor==1.0.4
pytz==2021.1
six==1.16.0
SQLAlchemy==1.4.15
text-unidecode==1.3
Werkzeug==2.0.1
