aiodns==3.0.0
aiohttp==3.7.4.post0
aiohttp-socks==0.6.0
aniso8601==9.0.1
async-timeout==3.0.1
attrs==21.2.0
beautifulsoup4==4.9.3
cchardet==2.1.7
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==8.0.0
colorama==0.4.4
elasticsearch==7.12.1
fake-useragent==0.1.11
Flask==2.0.0
Flask-Migrate
Flask-Script
Flask-SQLAlchemy
geographiclib
geopy
googletransx
greenlet
idna
idna-ssl
importlib-metadata
itsdangerous
Jinja2
Mako
MarkupSafe
multidict
numpy
pandas
psycopg2
pycares
pycparser
PySocks
python-dateutil
python-editor
python-socks
pytz
requests
schedule
six
soupsieve
SQLAlchemy
twint
typing-extensions
urllib3
Werkzeug
yarl
zipp
alembic
aniso8601
click
colorama
Faker
Flask
Flask-JWT-Extended
Flask-Migrate
Flask-RESTful
Flask-Script
Flask-SQLAlchemy
geographiclib
geopy
greenlet
itsdangerous
Jinja2
Mako
MarkupSafe
pandas
psycopg2
PyJWT
python-dateutil
python-dotenv
python-editor
pytz
six
SQLAlchemy
text-unidecode
Werkzeug
dataclasses
alembic
Flask-RESTful
numpy